:root {
  --bg: #333533;
  --title: #f5cb5c;
  --inputColor: #e8eddf;
  --buttonBg: #f5cb5c;
  --buttonBgHover: #ffdf89;
  --textButton: #252422;
  --textContent: #e8eddf;
  --placeholder: #e8eddf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg);
  color: var(--light);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header {
  width: 100%;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.1rem;
}

h1 {
  color: var(--title);
}

.container {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container .inputSearch {
  display: grid;
  gap: 16px;
}

.container .inputSearch input {
  width: 12rem;
  height: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  text-align: center;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  outline: none;
  margin-bottom: 16px;
  color: var(--inputColor);
}

.container .inputSearch input::placeholder {
  color: var(--placeholder);
}

.container .inputSearch button {
  width: 12rem;
  height: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  background-color: var(--buttonBg);
  color: var(--text);
  cursor: pointer;
  transition: 0.2s;
}

.container .inputSearch button:hover {
  background-color: var(--buttonBgHover);
  color: var(--text);
  transition: 0.2s;
}

.container .resultSearch {
  width: 38.75rem;
  height: 15.5rem;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  color: var(--textContent);
}

.container .resultSearch p {
  font-weight: 700;
}

footer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  color: var(--title);
}

span {
  font-weight: 400;
}